---
import { Icon } from "astro-icon/components";
import { BUSINESS } from "@data/client";
import navData from "@data/navData.json";

const currentYear = new Date().getFullYear();
---

<footer id="cs-footer-1862">
  <div class="cs-container">
    <!--Top Section-->
    <div class="cs-top">
      <div class="cs-flex">
        <a href="/" class="cs-logo" aria-label="Return to Babe Cave Home page">
          <Icon name="babe-cave-logo-solid" aria-hidden="true" />
        </a>
        <ul class="cs-social">
          <li class="cs-social-li">
            <a
              href="https://www.facebook.com/pages/Babe%20Cave/1147898621733746/#"
              class="cs-social-link"
              rel="noopener"
              target="_blank"
              aria-label="Visit our Facebook page"
            >
              <img
                class="cs-social-icon cs-default"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-facebook.svg"
                alt="icon"
                loading="lazy"
                decoding="async"
                width="24"
                height="24"
                aria-hidden="true"
              />
            </a>
          </li>
          <li class="cs-social-li">
            <a
              href="https://www.instagram.com/babecave.bri/"
              class="cs-social-link"
              rel="noopener"
              target="_blank"
              aria-label="Visit our Instagram page"
            >
              <img
                class="cs-social-icon cs-default"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-derm-footer.svg"
                alt="icon"
                loading="lazy"
                decoding="async"
                width="24"
                height="24"
                aria-hidden="true"
              />
            </a>
          </li>
        </ul>
      </div>
      <ul class="cs-ul cs-contact-ul">
        <li class="cs-li">
          <span class="cs-header">Contact Info</span>
        </li>
        <li class="cs-li">
          <a
            href={BUSINESS.address.mapLink}
            class="cs-link"
            target="_blank"
            rel="noopener"
          >
            {BUSINESS.address.lineOne}, {BUSINESS.address.city}, {BUSINESS.address.state}{" "}
            {BUSINESS.address.zip}
          </a>
        </li>
        <li class="cs-li">
          <a href={BUSINESS.socials.instagram} class="cs-link" target="_blank" rel="noopener">
            @babecave.bri
          </a>
        </li>
      </ul>
      <ul class="cs-ul">
        <li class="cs-li">
          <span class="cs-header">Salon Hours</span>
        </li>
        <li class="cs-li">Sunday: Closed</li>
        <li class="cs-li">Monday - Thursday: 9am - 8pm</li>
        <li class="cs-li">Friday: 10am - 6pm</li>
        <li class="cs-li">Saturday: 10am - 3pm</li>
      </ul>
    </div>
    <!--Bottom Section-->
    <div class="cs-bottom">
      <!--Navigation-->
      <ul class="cs-nav">
        {
          navData.map((item) => (
            <li class="cs-nav-li">
              <a href={item.url} class="cs-nav-link">
                {item.key}
              </a>
            </li>
          ))
        }
      </ul>
      <span class="cs-copyright">
        © Copyright {currentYear} - <a href="/" class="cs-copyright-link"
          >{BUSINESS.name}</a
        >
      </span>
    </div>
  </div>
</footer>

<style lang="less">
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cs-footer-1862 {
      padding: var(--sectionPadding);
      padding-bottom: (40/16rem);
      background-color: #f6eddf;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .cs-top {
        width: 100%;
        /* 48px - 64px */
        margin-bottom: clamp(3rem, 6vw, 4rem);
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* 64px - 100px */
        column-gap: clamp(4rem, 9vw, 6.25rem);
        row-gap: (32/16rem);
      }

      .cs-flex {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* 32px - 48px */
        gap: clamp(2rem, 4vw, 3rem);
      }

      .cs-logo {
        width: 100%;
        max-width: (64/16rem);
        height: auto;

        svg {
          width: 100%;
          height: auto;
        }
      }

      .cs-social {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: (8/16rem);
      }

      .cs-social-li {
        list-style: none;
      }

      .cs-social-link {
        width: (40/16rem);
        height: auto;
        padding: (12/16rem);
        background-color: #ded1bd;
        border-radius: (32/16rem);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--primary);

          .cs-social-icon {
            filter: grayscale(1) brightness(1000%);
          }
        }
      }

      .cs-social-icon {
        width: (16/16rem);
        height: (16/16rem);
        display: block;
      }

      .cs-ul {
        width: auto;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: (8/16rem);
      }

      .cs-contact-ul {
        width: 100%;
        max-width: 100%;
        gap: (8/16rem);
      }

      .cs-li {
        list-style: none;
        margin: 0;
        display: block;
      }

      .cs-header {
        font-size: (20/16rem);
        font-weight: 700;
        line-height: 1.2em;
        /* 16px - 24px bottom */
        margin: 0 0 clamp(1rem, 3.5vw, 1.5rem) 0;
        color: var(--headerColor);
        display: block;
      }

      .cs-link,
      .cs-li {
        font-size: (16/16rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
        position: relative;
        z-index: 1;
      }

      .cs-link {
        &:hover {
          &:before {
            width: 100%;
          }
        }

        &:before {
          /* on hover underline */
          content: "";
          width: 0%;
          height: 1px;
          background: currentColor;
          opacity: 1;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: width 0.3s;
        }
      }

      .cs-bottom {
        width: 100%;
        margin: 0;
        /* 20px - 40px top */
        padding: clamp(1.25rem, 5vw, 2.5rem) 0 0 0;
        border-top: 1px solid #ded1bd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: (24/16rem);
      }

      .cs-nav {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* 20px - 40px */
        column-gap: clamp(1.25rem, 5.3vw, 2.5rem);
      }

      .cs-nav-li {
        list-style: none;
      }

      .cs-nav-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--bodyTextColor);
        position: relative;

        &:hover {
          color: #8f5b34;

          &:before {
            width: 100%;
          }
        }

        &:before {
          /* on hover underline */
          content: "";
          width: 0%;
          height: 1px;
          background: currentColor;
          opacity: 1;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: width 0.3s;
        }
      }

      .cs-copyright {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-align: center;
        margin: 0;
        color: var(--bodyTextColor);
      }

      .cs-copyright-link {
        font-size: inherit;
        line-height: inherit;
        text-decoration: none;
        margin: 0;
        color: inherit;
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cs-footer-1862 {
      .cs-flex {
        width: auto;
        margin-right: auto;
      }

      .cs-contact-ul {
        /* 152px - 412px */
        width: clamp(9.5rem, 25vw, 25.75rem);
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #cs-footer-1862 {
      .cs-bottom {
        flex-direction: row;
      }

      .cs-copyright {
        text-align: right;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode {
      #cs-footer-1862 {
        background-color: rgba(0, 0, 0, 0.2);

        .cs-topper {
          color: var(--primary);
        }

        .cs-text {
          opacity: 0.8;
        }

        .cs-header,
        .cs-link,
        .cs-social-link,
        .cs-nav-link,
        .cs-copyright,
        .cs-li {
          color: var(--bodyTextColorWhite);
        }
        .cs-social-link {
          border-color: var(--bodyTextColorWhite);
        }

        .cs-icon,
        .cs-logo {
          filter: grayscale(1) brightness(1000%);
        }

        .cs-bottom {
          border-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
</style>
